.image {
  height: 400px;
  width: 400px;
}

.header {
  font-size: 18px;
  font-weight: 400;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.single-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
